:root{
    --primary_color: #25355A;
    --secondary_color: #007FA3;
}

.feedback hr{
    margin-top: 0px;
    height: 3px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(50, 127, 163, 0.5);
}

.feedback textarea{
    margin-top: 5px;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.feedback .title{
    color: var(--primary_color);
    font-size: 1.5rem;
    font-weight: 700;
}

.feedback .submit-btn{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid;
    color: white;
    background-color: var(--secondary_color);
    height: 40px;
}