footer{
    margin-top: 10px;
}
@media (min-width: 900px){
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #25355A;
        color: #F2F4F7;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 900px){
    .footer {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: #25355A;
        color: #F2F4F7;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.footer-heading {
    font-weight: bold;
    margin: 5px 0;
}

.icons {
    margin: 15px 0;
    display: flex;
}

.icons img {
    margin: 2px 15px 0 0;
}



.author-list {
    list-style-type: none;
    padding: 0;
}

.author-list li {
    margin-bottom: 5px;
}

.footer-nav {
    display: flex;

}

.footer a {
    color: #F2F4F7;
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation div{
    margin: 5px 0;
}

.footer a:hover {
    text-decoration: underline;
}