.labs .table-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* Grayish background color */
    padding: 20px;
}

.labs .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Optional: Add a border between rows */
}

.labs .column-5{
    flex: 0.5;
    padding: 0 10px;
}
.labs .column {
    flex: 1;
    padding: 0 10px;
}