/* Media Queries for Phone and PC Screen */
@media (min-width: 800px){
    .footer {
        display: flex;
        justify-content: space-between;
        background-color: #25355A;
        color: #F2F4F7;
        padding: 20px 20px 0 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .footer-4 {
        background-image: url("../images/toronto-b.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
   }
   .links {
    padding-left: 30px;
    padding-bottom: 20px;
    }
    .footer-1 {
        align-self: center;
        margin-left: 20px;
    }
    
}

@media (max-width: 800px){
    .footer {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: #25355A;
        color: #F2F4F7;
        padding: 20px 20px 0 20px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .footer-4 {
        border-top: 1px solid white ;
        padding: 10px 0px 0px 0px;
        margin: 10px 0px 0px 0px;
        background-image: url("images/toronto-b.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}


/* Set Footer Elements ---------------------------------------------- */
footer{
    margin-top: 10px;
}

.footer-heading {
    font-weight: bold;
    margin: 5px 0;
}

.footer-nav {
    display: flex;
}

.footer a {
    color: #F2F4F7;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-3 {
    padding-right: 30px;
}

/* Set Button Icon ---------------------------------------------- */
.icons {
    margin: 15px 0;
    display: flex;
}

.icons img {
    margin: 2px 15px 0 0;
}

/* Set For Author ---------------------------------------------- */
.author-list {
    list-style-type: none;
    padding: 0;
}

.author-list li {
    margin-bottom: 5px;
}

/* Set Navigation Elements ---------------------------------------------- */
.navigation {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.navigation div{
    margin: 8px 0;
}

