
  
  .container{
    background-color: hsl(0, 33%, 99%);
    color: #25355A;
    margin: 0 auto;
  }
  
  body{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: #333;
    background-color: #f8f8f9;
    background-image: url("../images/building.png");
  }
  
  .navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  }
  
  .navigation a:hover {
  background: #00b7f5;
  }
  
  
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
   
  form {
    max-width: 480px;
    margin: 50px auto;
    padding: 16px;
    border: 3px solid #25355A;
    position: relative;
    background-color: #F8F8F8;
    opacity: 0.9;
    
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background-color: #ffffff;
    border: 1px solid #25355A;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px 18px;
    height: 48px;
    width: 100%;
    color: #25355A;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 16px;
    transition: all .2s ease;
  }
  
  input::placeholder {
    color: #999;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #25355A;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: auto;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  .buttonlogin {
    font-size: 16px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 26px;
    color: #FFF;
    background-color: #25355A;
    border-radius: 4px;
    border: 1px solid #25355A;
    text-align: center;
    width: 100%;
    transition: transform .2s; /* Animation */
  }

  .buttonlogin:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
  }
  
  fieldset {
    margin-bottom: 28px;
    border: none;
  }
  
  legend {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  
  .forlabel {
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  
  .forlabel.light {
    font-weight: 300;
    display: inline;
  }

  .optioncontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

  .imgavatar1 {
    width: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 1px;
    

  }

  .imgavatar2 {
    width : 52px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
    margin-top: 2px;
  }

  .minibutton {
    background-color: #E5E4E2;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: #25355A;
    padding: 15px 26px;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 20px;
    transition: all .2s ease;
    font-weight: bolder;
    font-style: normal;
  }

  .minibutton:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    opacity: 0.8;
  }

  button:hover {
    opacity: 0.8;
  }
  

  .twobuttons {
    display:flex;
    justify-content:space-evenly;

  }

  .top{
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    color: #F8F8F8;
    text-shadow: 2px 2px #25355A;

  }

  .instruction {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
  }

  .blank {
    text-align: center;
  }