.modify-grades-content {
    position: relative;
}

.assignment-item {
    padding: 15px;
    background-color: #f0f0f0;
    position: relative;
    height: 50px;
    border-radius: 8px;
    border: solid;
    border-width: thin;
    border-color: #aaaaaa;
    margin-bottom: 10px;
    border-radius: 8px;
}

.assignment-title {
    position: absolute;
    font-weight: 600;
    font-size: 1.2em;
    left: 15px;
    top: 15px;
}

.assignment-title a {
    text-decoration: none;
    color: rgb(37, 53, 90);
}

.assignment-title a:hover {
    text-decoration: underline;
}

.header-section {
    font-size: 0.8em;
    position: absolute;
}

.header-section {
    left: 15px;
    bottom: 15px;
    width: 80%;
}

.header-section .due-date {
    margin-left: 0;
    margin-right: 5%;
}

.action-buttons img {
    height: 20px;
    margin-left: 10px;
}

.action-buttons {
    position: absolute;
    right: 15px;
    top: 15px;
}

.action-buttons img:hover {
    background-color: #e0e0e0;
    border-radius: 2px;
}

.add-button {
    color: #ffffff;
    background-color: #007FA3;
    border-radius: 5px;
    padding: 12px 15px;
    font-size: 1em;
    font-weight: bold;
    border: solid;
    border-color: #aaaaaa;
    border-width: thin;
}

.add-button-container {
    width: 100%;
    text-align: right;
    position: sticky;
    bottom: 5px;
    z-index: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-button-container img {
    margin-right: 10px;
}

.add-button:hover {
    background-color: #006F93;
    text-decoration: underline;
}

.alert{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 10px 0px 10px 0px;
    padding: 20px;
    border-radius: 10px;
}

.alert-success{
    background-color: lightgreen;
}

.alert-failed{
    background-color: lightcoral;
}

.alert-message{
    flex: 15;

}

.alert-x{
    right: 0;
}

.alert-x a{
    text-decoration: none;
    color: black;
}