.news .box{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    border-color: #aaaaaa;
    border-style: solid;
    border-width: thin;
}

.news .title{
    font-size: 1.2rem;
    
}

.news .announcement{
    margin: 1px;
    padding: 0px 0px 0px 10px;
}

.news p{
    margin: 5px;
}

.news .title-flex{
    display: flex;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #ccc;
}

.news .flex-1{
    flex:5;
}

.news .flex-2{
    right: 0;
}

.box{
    margin-bottom: 10px;
}


.add-button {
    color: #ffffff;
    background-color: #007FA3;
    border-radius: 5px;
    padding: 12px 15px;
    font-size: 1em;
    font-weight: bold;
    border: solid;
    border-color: #aaaaaa;
    border-width: thin;
}

.add-button-container {
    width: 100%;
    text-align: right;
    position: sticky;
    bottom: 5px;
    z-index: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-button-container img {
    margin-right: 10px;
}

.add-button:hover {
    background-color: #006F93;
    text-decoration: underline;
}