@media (max-width: 1000px){
    .column-1 {
        display: none;
    }
    .column-3 {
        display: none;
    }
}

.labs .table-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* Grayish background color */
    padding: 20px;
    border-radius: 8px;
    border-color: #aaaaaa;
    border-style: solid;
    border-width: thin;
}

.labs .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Optional: Add a border between rows */
}

.labs .column {
    padding: 0 15px;
}

.labs .column-1 {
    flex: 2;
}

.labs .column-2 {
    flex: 3;
}
.labs .column-3 {
    flex: 4
}

.labs .column-4 {
    flex: 6;
}

.labs .column-5 {
    flex: 3;
}

.table-content .column-5 { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: stretch;
}

.labs .table-header {
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 5px;
}

.row:last-child {
    padding-bottom: 0px;
    border-bottom-style: none;
}

.row a {
    color: rgb(37, 53, 90);
    text-decoration: none;
}

.row a:hover {
    text-decoration: underline;
}