.student-search input {
    font-size: 0.9em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: thin;
    padding: 5px 8px;
    flex-grow: 1;
    border-color: #333;
    border-style: solid;
    border-right-style: none;
}

.student-search {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.student-search button {
    padding: 5px 8px;
    font-size: 0.9em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #333;
    background-color: rgb(37,53,90);
    color: white;
    border-left-style: none;
}

.grades-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* Grayish background color */
    padding: 10px 20px;
    margin-top: 6px;
    border-radius: 8px;
    border: solid;
    border-color: #aaaaaa;
    border-width: thin;
}

.student-row {
    display: flex;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.student-row:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.grades-header {
    font-size: 1.1em;
    padding-top: 5px;
}

.student-name {
    width: 60%;
}

.student-id {
    width: 30%;
}

.student-grade {
    width: 10%;
}

.student-grade input {
    width: 50%;
    padding: 3px 5px;
    border-radius: 3px;
    border-width: thin;
    border-style: solid;
    border-color: #333;
}

.add-button {
    color: #ffffff;
    background-color: #007FA3;
    border-radius: 5px;
    padding: 12px 15px;
    font-size: 1em;
    font-weight: bold;
    border: solid;
    border-color: #aaaaaa;
    border-width: thin;
}

.add-button-container {
    width: 100%;
    text-align: right;
    position: sticky;
    bottom: 5px;
    z-index: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-button-container img {
    margin-right: 10px;
}