{% extends 'home_template.html' %}

{% block extra_css %}
  <link href="{{ url_for('static', filename='css/assignments.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <main class="assignments">
    {% for test in lst_assignments %}
        <hr class="line-break">
        <div class="assignment1">
            <a href="/static/pdf/mock.pdf"><h2>{{test.name}}</h2></a>
            <hr>
            <div class="subsect first"><strong>Weight: </strong>{{test.weight}}%</div>
            <div class="subsect"><strong>Due date: </strong>{{ test.due_date }}</div>
            <div class="subsect"><strong>Brief description: </strong>
                <p>
                    {{ test.desc }}
                </p>
            </div>
        </div>
    {% endfor %}
    </main>
{% endblock %}

