{% extends 'home_template.html' %}

{% block extra_css %}
  <link href="{{ url_for('static', filename='css/feedback.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<main class="feedback">
                

  <form action="/feedback.html">
      <textarea name="feedback" id="text-feedback" cols="30" rows="10"
          placeholder="Type your feedback here. Your feedback will be sent anonymously" style="resize: vertical" required></textarea>
      <button class="submit-btn" type="submit" name="submit">Submit</button>
  </form>

</main>
{% endblock %}
