{% extends 'home_template.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/grades.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/grades.js')}}"></script>
{% endblock %}

{% block content %}


<main class="grades-main">

    {% for test in lst_tests %}
    <div class="assignment-item">
        <div class="assignment-container assignment-header">
            <div class="assignment assignment-title more">{{ test.name }}</div>
            <div class="header-section header-section1">
                <span class="assignment due-date">Due date: {{ test.due_date }}</span>
                <span class="assignment assignment-grade">Grade: 90/110</span>
                <span class="assignment assignment-weight">Weight: {{ test.weight }}%</span>
            </div>
            <div class="header-section more">More</div>
        </div>
        <div class="assignment-container comment-container">
            <div class="comment-title">Description:</div>
            <div class="comment">
                {{ test.desc }}
            </div>
        </div>
    </div>
    {% endfor %}

</main>
{% endblock %}