<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSCB20: Introduction to Database and Web Appplications</title>
  <link rel="icon" href="images/b20-icon.png" type="image/icon">
  <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block extra_css %}
    {% endblock %}
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- <link href="navbar.css" rel="stylesheet" type="text/css">
  <link href="footer.css" rel="stylesheet" type="text/css">
  <link href="index.css" rel="stylesheet" type="text/css"> -->
</head>

<body id="top">
  <header>
    <div class="header-flex">
      <div class="header-flex-1 title"><a href="/" class="title">CSCB20<span class="big-screen">: Introduction to Database and Web
          Appplications</span></a></div>
        <div class="header-flex-2"> 
          
          {% if "auth" in session %}
          <div>Hello, <b>{{ session["name"] }}</b></div>
          <small><div><a href="/logout" style="padding: 0;">Logout</a></div></small>
          {% else %}  
          <a href="/login"> Login </a>
          {% endif %}
        </div>
    </div>
  </header>
  <div class="container">
    <nav class="nav-card">
      <div class="card">
        <div class="nav-container">
          <div class ="nav-subtitle"> 
            <b>Menu</b>
            <hr>
          </div>
          
          <ul class="nav-list">
            <li> <a href="/" {% if home %}
                style = "font-weight: bold;"
              {% endif %}>Home</a></li>
            {% if "auth" in session %}
            <li> <a href="/calendar" {% if calendar %}
                style = "font-weight: bold;"
              {% endif %}>Calendar</a></li>
              <li> <a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank">Discussion Board </a></li>
            <li> <a href="https://markus2.utsc.utoronto.ca/courses/20" target="_blank">MarkUs </a></li>
          
            <li> <a href="/team" {% if team %}
              style = "font-weight: bold;"
            {% endif %}>Course Team </a></li>
          <li> <a href="/resources" {% if resources %}
              style = "font-weight: bold;"
            {% endif %}>Resources</a></li>
          </ul>

            <div class ="nav-subtitle"> 
              <b>Course Materials</b>
              <hr>
            </div>

            <ul class ="nav-list">
            <li> <a href="/lectures" {% if lectures %}
                style = "font-weight: bold;"
              {% endif %}>Lectures </a></li>
            <li> <a href="/assignments" {% if assignments %}
                style = "font-weight: bold;"
              {% endif %}>Assignments </a></li>
            <li> <a href="/tests" {% if tests %}
                style = "font-weight: bold;"
              {% endif %}> Tests </a></li>
            <li> <a href="/labs" {% if labs %}
                style = "font-weight: bold;"
              {% endif %}>Labs </a></li>
            <li> <a href="{{ url_for('static', filename = 'pdf/mock.pdf' ) }}" target="_blank">Syllabus </a></li>
            </ul>
            <div class ="nav-subtitle"> 
              <b>Announcement</b>
              <hr>
            </div>
            <ul class="nav-list">
            <li> <a href="/news" {% if news %}
              style = "font-weight: bold;"
            {% endif %}>News </a></li>
            <li> <a href="/grades" {% if grades %}
                style = "font-weight: bold;"
              {% endif %}>Grades </a></li>
            
              <div class ="nav-subtitle"> 
                <b>Feedback</b>
                <hr>
              </div>
              </ul>
              
              <ul class="nav-list">
              <li> <a {% if 'auth' in session and session['auth'] == 'Instructor' %}
                href="/feedback?page=1&per_page=5"
                {% else %}
                href="/feedback"
                {% endif %}  
                {% if feedback %}
                style = "font-weight: bold;"
              {% endif %}>Anonymous Feedback </a></li>
              
            
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    
    {% block content %}
    {% endblock %}   
    
    <footer class="footer">
      <div class="footer-1">
        <div class="footer-heading" style="font-size: 2rem;">CSCB20</div>
        <div class="footer-heading" style="font-size: 1.5rem;">Introduction to Databases and Web Applications</div>
        <div style="font-weight: 500; opacity: 50%;">Created by:
          <a href="https://www.linkedin.com/in/ariellasiahaan/" target="_blank">Ariella,</a>
          <a href="https://www.linkedin.com/in/bobby-adi-salim/" target="_blank">Bobby,</a>
          <a href="https://www.linkedin.com/in/danielstevanus/" target="_blank">Daniel</a>
        </div>
        <div class="icons">
          <a href="https://www.instagram.com/utsccms/" target="_blank"><img src="{{ url_for('static', filename = 'images/Instagram_Glyph_White.png' ) }} "
              alt="I" style="height:20px"></a>
          <a href="https://www.linkedin.com/company/utsccms/" target="_blank"><img src="{{ url_for('static', filename = 'images/linkedin.png' ) }} " alt="M"
              style="height:20px"></a>
          <a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank"><img src="{{ url_for('static', filename = 'images/piazza.png' ) }} " alt="P"
              style="height:20px"></a>
          <a href="https://markus2.utsc.utoronto.ca/courses/20/assignments" target="_blank"><img src="{{ url_for('static', filename = 'images/markus.png' ) }} "
              alt="M" style="height:20px"></a>
        </div>
      </div>
      <div class="footer-2 links">
        <div class="navigation">
          <div><a href="/">Home</a></div>
          <div><a href="/news">News</a></div>
          <div><a href="/calendar">Calendar</a></div>
          <div><a href="/lectures">Lectures</a></div>
          <div><a href="/assignments">Assignments</a></div>
          <div><a href="/tests">Tests</a></div>
          <div><a href="/labs">Labs</a></div>
        </div>
      </div>
      <div class="footer-3 links">
        <div class="navigation">
          <div><a href="/grades">Grades</a></div>
          <div><a href="{{ url_for('static', filename = 'pdf/mock.pdf' ) }}">Syllabus</a></div>
          <div><a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank">Discussion Board</a></div>
          <div><a href="https://markus2.utsc.utoronto.ca/courses/20/assignments" target="_blank">MarkUs</a></div>
          <div><a href="/team">Course Team</a></div>
          <div><a href="/resources">Resources</a></div>
          <div><a href="/feedback">Feedback</a></div>
        </div>
      </div>
      <div class="footer-4">
        <nav class="navigation">
          <div><a href="https://web.cs.toronto.edu/about/our-department" target="_blank">University of Toronto <br>
              Computer Science Department</a></div>
        </nav>
      </div>
    </footer>
  </div>
</body>

</html>