{% extends 'home_template.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/labs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



{% block content %}
<main class="labs">
  <div class="table-container">
      <div class="row">
          
          <div class="column-5"><b>Tutorial</b></div>
          <div class="column"><b>Topic</b></div>
          <div class="column"><b>Worksheet</b></div>
          <div class="column"><b>Solution</b></div>
      
      </div>
      <div class="row">
          <div class="column-5">Tutorial 1</div>
          <div class="column">Introduction, Databases background</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>
      <div class="row">
          <div class="column-5">Tutorial 2</div>
          <div class="column">Schema Diagrams, Relational Algebra</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>
      <div class="row">
          <div class="column-5">Tutorial 3</div>
          <div class="column">SQL and MySQL</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>

      <div class="row">
          <div class="column-5">Tutorial 4</div>
          <div class="column">MySQL Queries, Creating and Editing Tables</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>
      
      <div class="row">
          <div class="column-5">Tutorial 5</div>
          <div class="column">MySQL Outer Joins, Views, NULL, string functions, HTML</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>

      <div class="row">
          <div class="column-5">Tutorial 6</div>
          <div class="column">HTML, CSS</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>

      <div class="row">
          <div class="column-5">Tutorial 7</div>
          <div class="column">PHP</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>

      <div class="row">
          <div class="column-5">Tutorial 8</div>
          <div class="column">PHP and SQL</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>

      <div class="row">
          <div class="column-5">Tutorial 9</div>
          <div class="column">JavaScript and jQuery</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>

      <div class="row">
          <div class="column-5">Tutorial 10</div>
          <div class="column">jQuery, AJAX, JSON</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>

      <div class="row">
          <div class="column-5">Tutorial 11</div>
          <div class="column">Final Review</div>
          <div class="column"><a href="mock.pdf">Download worksheet</a></div>
          <div class="column"><a href="mock.pdf">Download solution</a></div>
      </div>
  </div>
</main>
{% endblock %}

      
