{% extends 'home_template.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/modify_grades.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/modify_grades.js')}}"></script>
{% endblock %}

{% block content %}
<main>
    <div class="add-button-container"><button class="add-button">Add Assignment</button></div>
    <div class="assignment-item">
        <div class="assignment-container assignment-header">
            <div class="assignment assignment-title"><a>Assignment 1</a></div>
            <div class="header-section">
                <span class="assignment due-date">Due date: 14 February 2024</span>
                <span class="assignment assignment-weight">Weight: 8%</span>
            </div>
            <div class="action-buttons">
                <a><img class="edit-button" src="{{url_for('static', filename='images/edit.png')}}"></a>
                <a><img class="del-button" src="{{url_for('static', filename='images/trash.png')}}"></a>
            </div>
        </div>
    </div>
    <div class="assignment-item">
        <div class="assignment-container assignment-header">
            <div class="assignment assignment-title">Midterm</div>
            <div class="header-section header-section1">
                <span class="assignment due-date">Due date: 20 February 2024</span>
                <span class="assignment assignment-grade">Grade: 100/100</span>
                <span class="assignment assignment-weight">Weight: 30%</span>
            </div>
            <div class="header-section more"><a>More</a></div>
        </div>
        <div class="assignment-container comment-container">
            <div class="comment-title">Comment:</div>
            <div class="comment">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam magni voluptates ullam mollitia, labore, minima ipsam eveniet, sint consequatur rem accusamus! Possimus neque libero, adipisci ea officiis totam assumenda. Modi eos incidunt eveniet dolore neque ex saepe possimus voluptatem tempora necessitatibus exercitationem adipisci commodi vero at asperiores, esse ducimus ad.
            </div>
        </div>
    </div>
</main>
{% endblock %}