{% extends 'home_template.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/modify_grades.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='js/modify_grades.js')}}"></script>
{% endblock %}

{% block content %}
<main class="modify-grades-content">

    {% for test in lst_tests %}
    
    <div class="assignment-item">

        <div class="assignment-container assignment-header">
            
            <div class="assignment assignment-title"><a href="/grades/{{ test.id }}">{{test.name}}</a></div>
            <div class="header-section">
                <span class="assignment due-date">Due date: 14 February 2024</span>
                <span class="assignment assignment-weight">Weight: 8%</span>
            </div>
            <div class="action-buttons">
                <a><img class="edit-button" src="{{url_for('static', filename='images/edit.png')}}"></a>
                <a><img class="del-button" src="{{url_for('static', filename='images/trash.png')}}"></a>
            </div>
        </div>
    
    </div>   
    
    {% endfor %}
    <div class="add-button-container"><button class="add-button"><img src="{{url_for('static', filename='images/plus-white.png')}}" height="13px;" alt="add">Add Assignment</button></div>
</main>
{% endblock %}