{% extends 'home_template.html' %}

{% block extra_css %}
  <link href="{{ url_for('static', filename='css/news.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<main class="news">
  <div class="box">
      <div class="title-flex">
          <div class="flex-1 title">
              <b> Midterm Preparation </b>
          </div>
          <div class="flex-2">
              12-09-2023 12:55:30
          </div>
         
      </div>
      <br>
      <div class="announcement">
          <p>
              We will have our midterm on 15th March 2024. Please be prepared!
          </p>
      </div>
  </div>
  <div class="box">
      <div class="title-flex">
          <div class="flex-1 title">
              <b> Welcome </b>
          </div>
          <div class="flex-2">
              12-06-2023 19:35:30
          </div>
         
      </div>
      <br>
      <div class="announcement">
          <p>
              Welcome First Year! Enjoy your first year!
          </p>
      </div>
  </div>
</main>  
{% endblock %}