{% extends 'home_template.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/remarks.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



{% block content %}
<main class="labs">
  <div class="table-container">
      <div class="row table-header">
          
          <div class="column column-1"><strong>Student ID</strong></div>
          <div class="column column-2"><strong>Name</strong></div>
          <div class="column column-3"><strong>Type</strong></div>
          <div class="column column-4"><strong>Remark Description</strong> </div>
          <div class="column column-5"><strong>Action</strong></div>
        
      </div>
      
      {% for remark in lst_remarks %}
      <div class="row table-content">
          <div class="column column-1">{{ remark.grade.student.id }}</div>
          <div class="column column-2">{{ remark.grade.student.name }}</div>
          <div class="column column-3">{{ remark.grade.test.name }}</div>
          <div class="column column-4">{{ remark.desc }}</div>
          <div class="column column-5">
              <div class="resolve"><a href="/grades/remarks/{{ remark.id }}/resolve">Mark as Resolved</a></div>
              <div class="change"><a href="/grades/{{ remark.grade.test.id }}?id={{ remark.grade.id }}">Change Grade</a></div>
          </div>
      </div>
      {% endfor %}
      
      
  </div>
</main>
{% endblock %}

      
