{% extends 'home_template.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/remarks.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



{% block content %}
<main class="labs">
  <div class="table-container">
      <div class="row">
          
          <div class="column-5"><b>Student ID</b></div>
          <div class="column"><b>Name</b></div>
          <div class="column"><b>Type</b></div>
          <div class="column-desc"><b>Remark Description</b> </div>
          <div class="column"><b>Action</b></div>
        
        </div>
      
        {% for remark in lst_remarks %}
        <div class="row">
            <div class="column-5">{{ remark.grade.student.id }}</div>
            <div class="column">{{ remark.grade.student.name }}</div>
            <div class="column">{{ remark.grade.test.name }}</div>
            <div class="column-desc">{{ remark.desc }}</div>
            <div class="column">
                <div><a href="/grades/remarks/{{ remark.id }}/resolve">Mark as Resolved</a></div>
                <div><a href="/grades/{{ remark.grade.test.id }}?id={{ remark.grade.id }}">Change Grade</a></div>
            </div>
        </div>
        {% endfor %}
      
      
  </div>
</main>
{% endblock %}

      
