{% extends 'home_template.html' %}

{% block extra_css %}
  <link href="{{ url_for('static', filename='css/tests.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <main class="assignments">
    {%for test in lst_tests%}
        <hr class="line-break">
        <div class="assignment1">
            <a href="/static/pdf/mock.pdf"><h2>{{test.name}}</h2></a>
            <hr>
            <div class="subsect first"><b>Test date: </b>{{test.due_date}}</div>
            <div class="subsect"><b>Weight: </b>{{test.weight}}%</div>
            <div class="subsect"><strong>Brief description: </strong>
                <p>
                    {{ test.desc }}
                </p>
            </div>
            <div class="subsect"><b>Location:</b></div>
            <img src="{{ url_for('static', filename ='images/midterm.png' ) }}" alt="location_of_midterm">
        </div>
    {%endfor%}
    </main>  
{% endblock %}
