{% extends 'home_template.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tests_add.css') }}" type="text/css">
{% endblock %}

{% block content %}
    <main>

        <div class="card">
            <form action="/tests/add" method="POST">
                <label for=""></label>
                <input type="text" name="name" id="" placeholder="name">
    
                <label for=""></label>
                <textarea name="desc" id="" placeholder="Description"></textarea>
                
                <label for="weight"> Weight: </label>
                <input type="number" name="weight" id="" placeholder="name">
    
                <label for=""></label>
                <input type="date" name="due_date" id="">
            
                <button type="submit">Publish Assignment</button>
            </form>
        </div>
        
    </main>
{% endblock %}

