{% extends 'home_template.html' %}

{% block extra_css %}
  <link href="{{ url_for('static', filename='css/tests.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<main class="assignments">
  <hr class="line-break">
  <div class="assignment1">
      <a href="mock.pdf"><h2>Midterm 1 (15 <sup>th</sup> March 2024 )</h2></a>
      <hr>
      <div class="subsect first"><b>Topic: </b>Relational Algebra and SQLite</div>
      <div class="subsect"><b>Weight: </b>10%</div>
      <div class="subsect"><b>Location:</b></div>
          <img src="{{ url_for('static', filename ='images/midterm.png' ) }}" alt="location_of_midterm">
      <hr class="line-break">
    </div>
</main>  
{% endblock %}
