{% extends 'home_template.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/update_grades.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
    <main>
        <form action="/grade/{{ test_id }}" method="get">
            <div class=student-search>
                <input type="text" name="search" placeholder="Search for student">
                <button type="submit">Search</button>
            </div>
        </form>
        <form action="/grades/{{ test_id }}" method="post">
            <div class="grades-container">
                <div class="grades-header student-row">
                    <strong class="student-name">Name</strong>
                    <strong class="student-id">Student ID</strong>
                    <strong class="student-grade">Grade</strong>
                </div>
                    {% set found = False %}
                    {% for student in lst_student %}
                        <div class="student-row">
                            <span class="student-name">{{ student.name }}</span>
                            <span class="student-id">{{ student.id }}</span>
                            {% for grade in lst_student_grades %}
                                {% if grade.student.id == student.id %}
                                    {% set found = True %}
                                        <span class="student-grade"><input type="number" value="{{ grade.grade }}" name="student{{ student.id }}_grade"></span>
                                {% endif %}
                            {% endfor %}

                            {% if found == False %}
                                <span class="student-grade"><input type="number" value="" name="student{{ student.id }}_grade   "></span>
                            {% endif %}
                            <!-- if student name ada di lst_student_grades, then tampilin grades nya, if not tampilin empty -->
                        </div>
                    {% endfor %}
            </div>
            <div class="add-button-container"><button class="add-button" type="submit">Submit Grades</button></div>
        </form>
        
    </main>
{% endblock %}