{% extends 'home_template.html' %}

{% block extra_css %}
    
{% endblock %}


{% block content %}
    <main>
        {% for student in lst_student %}
            <div>
                {{ student.name }}
                
                {% for grade_info in lst_student_grades %}

                     {% if grade_info.student.id == student.id %}
                        {{ grade_info.grade }}
                     {% endif %}
                     
                {% endfor %}
                <!-- if student name ada di lst_student_grades, then tampilin grades nya, if not tampilin empty -->
            </div>
        {% endfor %}
    </main>
{% endblock %}