{% extends 'home_template.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/update_grades.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
    <main>
        <form action="/grade/{{ test_id }}" method="get">
            <div class=student-search>
                <input type="text" name="search" placeholder="Search for student">
                <button type="submit">Search</button>
            </div>
        </form>
        <form action="/grades/{{ test_id }}" method="post">
            <div class="grades-container">
                <div class="grades-header student-row">
                    <strong class="student-name">Name</strong>
                    <strong class="student-id">Student ID</strong>
                    <strong class="student-grade">Grade</strong>
                </div>
                    
                {% for student in lst_student %}
                {% set value = '' %}
                <div class="student-row">
                    <span class="student-name">{{ student.name }}</span>
                    <span class="student-id">{{ student.id }}</span>
                    {% for grade in lst_student_grades %}
                        {% if grade.student.id == student.id %}
                            {% set value = grade.grade %}
                        {% endif %}
                    {% endfor %}
                    <span class="student-grade">
                        <input type="number" value="{{ value }}" name="student{{ student.id }}_grade">
                    </span>
                </div>
            {% endfor %}
            
            </div>
            <div class="add-button-container"><button class="add-button" type="submit">Submit Grades</button></div>
        </form>
    </main>
{% endblock %}