.news .box{
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}

.news .title{
    font-size: 1.2rem;
    
}

.news .announcement{
    margin: 1px;
    padding: 0px 0px 0px 10px;
}

.news p{
    margin: 5px;
}

.news .title-flex{
    display: flex;
    padding: 10px 0px 10px 10px;
    border-bottom: 1px solid #ccc;
}

.news .flex-1{
    flex:5;
}

.news .flex-2{
    flex:1;
}

.box{
    margin-bottom: 10px;
}