{% extends 'home_template.html' %}

{% block extra_css %}
  <link href="{{ url_for('static', filename='css/team.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<main class="team">
    
  <div class="teamheading">
    <h3>Meet the team of CSCB20 - Winter 2024</h3>
  </div>
  <hr>
  <br>
  <br>
  <div class="text-center">
    <div class="box">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename = 'images/user-icon.png' ) }}" alt="user image">
            <div class="teamname">
              <div class="profname">Joshua Concon</div>
              <div class="profstatus">Teaching Assistant</div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-text">
              <br>
              <h3>Office Hours</h3>
              <div>Wednesday 15:00-16:00 pm</div>
              <br>
              <h3>Location</h3>
              <div>IC 402</div>
              <br>
              <h3>Contact Information</h3>
              <div><a style="color:white;" href="mailto:joshua.concon@utoronto.ca">joshua.concon@utoronto.ca</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename = 'images/purva.jpg' ) }}" alt="Purva">
            <div class="teamname">
              <div class="profname">Purva Gawde</div>
              <div class="profstatus">Instructor</div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-text">
              <br>
              <h3>Office Hours</h3>
              <div>Tuesday 12.00-1.00 pm</div>
              <br>
              <h3>Location</h3>
              <div>IC 484</div>
              <br>
              <h3>Contact Information</h3>
              <div><a style="color:white;" href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename = 'images/user-icon.png' ) }}" alt="user image">
            <div class="teamname">
              <div class="profname">Pourya Moghadam</div>
              <div class="profstatus">Teaching Assistant</div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-text">
              <br>
              <h3>Office Hours</h3>
              <div>Monday 11:00 – 12:00 pm </div>
              <br>
              <h3>Location</h3>
              <div>IC 402</div>
              <br>
              <h3>Contact Information</h3>
              <div><a style="color:white;" href="mailto:pourya.moghadam@utoronto.ca">pourya.moghadam@utoronto.ca</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="box">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename = 'images/user-icon.png' ) }}" alt="user image">
            <div class="teamname">
              <div class="profname">Nisha Rajendran</div>
              <div class="profstatus">Teaching Assistant</div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-text">
              <br>
              <h3>Office Hours</h3>
              <div>Wednesday 10.00-11.00am</div>
              <br>
              <h3>Location</h3>
              <div>IC 402</div>
              <br>
              <h3>Contact Information</h3>
              <div><a style="color:white;" href="mailto:nisha.rajendran@utoronto.ca">nisha.rajendran@utoronto.ca</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename = 'images/user-icon.png' ) }}" alt="user image">
            <div class="teamname">
              <div class="profname">Navinn Ravindaran</div>
              <div class="profstatus">Teaching Assistant</div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-text">
              <br>
              <h3>Office Hours</h3>
              <div>Friday 11:00-12:00 pm</div>
              <br>
              <h3>Location</h3>
              <div>IC 402</div>
              <br>
              <h3>Contact Information</h3>
              <div><a style="color:white;"
                  href="mailto:navinn.ravindaran@utoronto.ca">navinn.ravindaran@utoronto.ca</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="{{ url_for('static', filename = 'images/user-icon.png' ) }}" alt="user image">
            <div class="teamname">
              <div class="profname">Danny Chen</div>
              <div class="profstatus">Teaching Assistant</div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flip-card-back-text">
              <br>
              <h3>Office Hours</h3>
              <div>Friday 12:00-13:00 pm </div>
              <br>
              <h3>Location</h3>
              <div>IC 402</div>
              <br>
              <h3>Contact Information</h3>
              <div><a style="color:white;" href="mailto:danny.chen@utoronto.ca">danny.chen@utoronto.ca</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
{% endblock %}
 